
<body id="page-top">
    <!-- Masthead-->
    <header class="masthead" style="background-image:url(../assets/img/forExperiencer/forExperiencer-homepage.jpg)">
        <div class="container">
            <div class="masthead-heading  text-uppercase">For Experiencer</div>
            <h3>Gender inequality is in many instances illegal,</h3>
            <h3>definitely immoral and just plain wrong.</h3>
            <h3>So what should you do when you think it is occuring?</h3>
            <h3>Consider the following.</h3>
        </div>
    </header>
    <!-- Self Help-->
    <section class="page-section bg-light" id="selfHelp">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Self Help </h2>
                <h3 class="section-subheading text-muted">Gender inequality happens anywhere. Click on the cards below to learn about the steps to stop gender inequality.</h3>
                <div class="row">
                    <div class="col-md-4">
                        <!-- Gender Discrimination-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#genderDiscrimination">
                                <img class="img-fluid" src="~/assets/img/forExperiencer/genderDiscrimination/forExperiencer-genderDiscrimination.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Gender Discrimination</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Sexual Harassment-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#sexualHarassment">
                                <img class="img-fluid" src="~/assets/img/forExperiencer/harassment/forExperiencer-harassment.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Sexual Harassment</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Domestic Violence-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#domesticViolence">
                                <img class="img-fluid" src="~/assets/img/forExperiencer/domesticViolence/forExperiencer-domesticViolence.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Domestic Violence</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Post-Crisis Recovery-->
    <section class="page-section" id="recovery">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Post-crisis Recovery </h2>
                <h3 class="section-subheading text-muted">It's okay to be not okay. Click to learn some mental wellness tips</h3>
                <div class="row">
                    <div class="col-md-4">
                        <!-- G.L.A.D.-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#glad">
                                <img class="img-fluid" src="~/assets/img/forExperiencer/GLAD/forExperiencer-GLAD.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">G.L.A.D.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!--Sleep Hygiene-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#sleep">
                                <img class="img-fluid" src="~/assets/img/forExperiencer/sleep/forExperiencer-sleep.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Sleep Hygiene</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- Tips to recover from PTSD-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#ptsd">
                                <img class="img-fluid" src="~/assets/img/forExperiencer/PTSD/forExperiencer-PTSD.jpg" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">Tips to recover from PTSD</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Self Help Modals-->
    <!-- Gender Discrimination modal popup-->
    <div class="portfolio-modal modal fade" id="genderDiscrimination" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase" style="margin-bottom: 3rem">Gender Discrimination</h2>
                                <p class="text-muted" style="margin-bottom: 2rem">There are <span class="text-black" id="post1">100</span> people like this post</p>
                                <ul class="timeline" style=" margin-bottom: 5rem">
                                    <li>
                                        <img src="~/assets/img/forExperiencer/genderDiscrimination/Step1.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/genderDiscrimination/Step2.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/genderDiscrimination/Step3.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/genderDiscrimination/Step4.png" width="576" height="324">
                                    </li>
                                </ul>
                                <button class="bg-btn btn btn-secondary" onclick="changeStatus('1')" style="width:155px;height:75px">
                                    <img src="~/assets/img/like1.png " height="22" style="display:inline"><p id="like1" style="display:inline"> LIKE </p>
                                </button>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    <!-- Sexual Harassment modal popup-->
    <div class="portfolio-modal modal fade" id="sexualHarassment" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase" style="margin-bottom: 3rem">Sexual Harassment</h2>
                                <p class="text-muted" style="margin-bottom: 2rem">There are <span class="text-black" id="post2">103</span> people like this post</p>
                                <ul class="timeline" style=" margin-bottom: 5rem">
                                    <li>
                                        <img src="~/assets/img/forExperiencer/harassment/Step1.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/harassment/Step2.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/harassment/Step3.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/harassment/Step4.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/harassment/Step5.png" width="576" height="324">
                                    </li>
                                </ul>
                                <button class="bg-btn btn btn-secondary" onclick="changeStatus('2')" style="width:155px;height:75px">
                                    <img src="~/assets/img/like1.png " height="22" style="display:inline"><p id="like2" style="display:inline"> LIKE </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Domestic Violence modal popup-->
    <div class="portfolio-modal modal fade" id="domesticViolence" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase" style="margin-bottom:3rem">Domestic Violence</h2>
                                <p class="text-muted" style="margin-bottom: 2rem">There are <span class="text-black" id="post3">200</span> people like this post</p>
                                <ul class="timeline" style=" margin-bottom: 5rem">
                                    <li>
                                        <img src="~/assets/img/forExperiencer/domesticViolence/step1.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/domesticViolence/step2.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/domesticViolence/step3.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/domesticViolence/step4.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/domesticViolence/step5.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/domesticViolence/step6.png" width="576" height="324">
                                    </li>
                                </ul>
                                <button class="bg-btn btn btn-secondary" onclick="changeStatus('3')" style="width:155px;height:75px">
                                    <img src="~/assets/img/like1.png " height="22" style="display:inline"><p id="like3" style="display:inline"> LIKE </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Post-Crisis Recovery Modals-->
    <!-- G.L.A.D. modal popup-->
    <div class="portfolio-modal modal fade" id="glad" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase" style="margin-bottom:3rem">G.L.A.D.</h2>
                                <p class="text-muted" style="margin-bottom: 2rem">There are <span class="text-black" id="post4">104</span> people like this post</p>
                                <ul class="timeline" style=" margin-bottom: 5rem">
                                    <li>
                                        <img src="~/assets/img/forExperiencer/GLAD/step1.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/GLAD/step2.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/GLAD/step3.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/GLAD/step4.png" width="576" height="324">
                                    </li>
                                </ul>

                                <button class="bg-btn btn btn-secondary" onclick="changeStatus('4')" style="width:155px;height:75px">
                                    <img src="~/assets/img/like1.png " height="22" style="display:inline"><p id="like4" style="display:inline"> LIKE </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Sleep Hygiene-->
    <div class="portfolio-modal modal fade" id="sleep" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase" style="margin-bottom:3rem">Sleep Hygiene</h2>
                                <p class="text-muted" style="margin-bottom: 2rem">There are <span class="text-black" id="post5">10</span> people like this post</p>
                               
                                <ul class="timeline" style=" margin-bottom: 5rem">
                                    <li>
                                        <img src="~/assets/img/forExperiencer/sleep/Step1.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/sleep/Step2.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/sleep/Step3.png" width="576" height="324">
                                    </li>
                                </ul>
                                <button class="bg-btn btn btn-secondary" onclick="changeStatus('5')" style="width:155px;height:75px">
                                    <img src="~/assets/img/like1.png " height="22" style="display:inline"><p id="like5" style="display:inline"> LIKE </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tips to recover from PTSD-->
    <div class="portfolio-modal modal fade" id="ptsd" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="~/assets/img/close-icon.svg" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <div class="modal-body">
                                <!-- Project details-->
                                <h2 class="text-uppercase" style="margin-bottom:3rem">Tips to recover from PTSD</h2>
                                <p class="text-muted" style="margin-bottom: 2rem">There are <span class="text-black" id="post6">200</span> people like this post</p>
                               
                                <ul class="timeline" style=" margin-bottom: 5rem">
                                    <li>
                                        <img src="~/assets/img/forExperiencer/PTSD/step1.png" width="576" height="324">
                                    </li>
                                    <li class="timeline-inverted">
                                        <img src="~/assets/img/forExperiencer/PTSD/step2.png" width="576" height="324">
                                    </li>
                                    <li>
                                        <img src="~/assets/img/forExperiencer/PTSD/step3.png" width="576" height="324">
                                    </li>
                                </ul>
                                <button class="bg-btn btn btn-secondary" onclick="changeStatus('6')" style="width:155px;height:75px">
                                    <img src="~/assets/img/like1.png " height="22" style="display:inline"><p id="like6" style="display:inline"> LIKE </p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script>
    function changeStatus(id) {
        var likeId = 'like' + id;
        var postId = 'post' + id;
        likeBtn = document.getElementById(likeId);
        likeNum = document.getElementById(postId);
        num = parseInt(likeNum.innerHTML);
        if (likeBtn.innerHTML == 'LIKED') {
            likeBtn.innerHTML = 'LIKE';
            num -= 1;
            likeNum.innerHTML = num;
        }
        else {
            likeBtn.innerHTML = 'LIKED'
            num += 1;
            likeNum.innerHTML = num;
        }
    }
</script>